/* Generic */
body {
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Nav */
.navbar {
  background: rgba(0, 148, 136, 0.13);
}

.navbar-toggler {
  border: none;
  border-radius: 5px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.menu {
  width: 20px;
  height: 20px;
  display: inline;
}

.hide-menu {
  display: none;
}

.open-menu {
  display: inline;
}

.close-menu {
  display: none;
}

/* Circle */
.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 148, 136, 0.13);
  border-radius: 50%;
  pointer-events: none; /* Allow mouse interactions to pass through the circle */
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Hero section */
.hero-section {
  margin-top: 3%;
}

.hero-header {
  margin: 50px 0 20px 0;
  font-weight: 900;
  line-height: 1.2;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 60px;
}

.evov {
  color: #85e6c5;
}

.hero-paragraph {
  opacity: 0.6;
  font-size: 20px;
}

.get-started {
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
  background-color: #1b1b1b;
  color: #fff;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}

.get-started:hover {
  background-color: #85e6c5;
  color: #fff;
  transition: all 2s ease-in;
}

.learn-more {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
  background-color: #85e6c5;
  border-radius: 5px;
  padding: 15px 30px;
}

.learn-more:hover {
  background-color: #1b1b1b;
  color: #fff;
  transition: all 2s ease-in;
}

.journey {
  margin-top: 20px;
  font-style: italic;
}

.hero-img {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
  object-fit: cover;
}

/* News Letter */
.newsletter {
  margin-top: 5%;
  background: rgba(0, 148, 136, 0.13);
  padding: 50px 0;
}

.newsletter-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-text {
  font-weight: 500;
  font-size: 20px;
}

.stay-updated {
  display: block;
  margin: 20px 0;
  font-style: italic;
  font-weight: 600;
}

.newsletter-img {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 300px;
  height: 300px;
  border: 10px solid rgba(0, 148, 136, 0.13);
  padding: 10px;
}

/* Podcast */
.podcast-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.podcast-col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.podcast-header {
  font-weight: 900;
  font-size: 35px;
}

.podcast-paragraph {
  opacity: 0.6;
  font-size: 18px;
}

.explore-podcasts {
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  background-color: #1b1b1b;
  color: #fff;
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* About-Us */

/* Footer */
#footer {
  background-color: rgba(0, 148, 136, 0.13);
}

/* Mobile */
@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  /* Hero Section */
  .hero-img {
    width: 95%;
    object-fit: cover;
  }

  .hero-header {
    font-size: 45px;
    letter-spacing: 0.02em;
    line-height: 1.2;
  }

  /* NewsLetter */
  .newsletter-img {
    margin: 20px auto;
  }

  /* Podcast */
  .podcast-row {
    flex-direction: column;
  }

  .podcast-col2 {
    width: 100%;
  }
}
