@media (max-width: 1200px) {
  /* Hero Section */
  .hero-img {
    width: 100%;
    object-fit: cover;
  }

  /* NewsLetter */
  input[type="email"] {
    width: 70%;
    padding: 10px 20px;
  }

  /* Podcast */
  .podcast-row {
    flex-direction: column;
  }

  .podcast-col2 {
    width: 100%;
  }
}
