body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 148, 136, 0.13);
  -webkit--font-smoothing: antialiased;
}

form {
  background-color: #fff;
  border-radius: 9px;
  padding: 10px 40px;
  width: 450px;
}

.signup-header {
  margin: 20px 0;
  text-align: center;
  font-weight: 900;
}

.input-headers {
  margin-top: 20px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px 15px;
  opacity: 0.8;
  margin: 0;
}

input:focus {
  transition: all 2s ease-in;
  background-color: rgba(0, 148, 136, 0.13);
  color: #000;
}

.signup-button {
  display: block;
  margin: 20px auto;
  width: 100%;
  padding: 15px 25px;
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.signup-button:hover {
  transition: all 2s ease-in;
  background-color: #299c9c;
  color: #fff;
}

.login {
  text-align: center;
  font-weight: bold;
}
