body {
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

.email-img {
  display: block;
  margin: auto;
}

.login {
  width: 30%;
}

.login:hover {
  color: #1b1b1b;
  background-color: #fff;
  transition: all 2s ease-in;
}

@media (max-width: 1200px) {
  .login {
    width: 80%;
    padding: 10px;
  }
}
